<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="area">


    <!--查询所有的地区信息-->
    <select id="getAllArea" resultType="cn.jd.entity.Area">
        select * from areas
    </select>

    <select id="getAreaByCityId" parameterType="int" resultType="cn.jd.entity.Area">
        select * from areas where cityId=#{cityId}
    </select>



</mapper>