<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="city">

    <!--查询城市及所在省的信息  多对一-->
    <resultMap id="cityAndPro" type="cn.jd.entity.City">
        <association property="province" column="provinceId" javaType="cn.jd.entity.Province"
                     select="province.getProByPid"></association>
    </resultMap>

    <!--查询城市及包括的地区信息-->
    <resultMap id="cityAndArea" type="cn.jd.entity.City">
        <id column="c_id" property="id"></id>
        <result column="cityid" property="cityId"></result>
        <result column="city" property="city"></result>
        <collection property="areas" ofType="cn.jd.entity.Area">
            <id column="a_id" property="id"></id>
            <result column="areaid" property="areaId"></result>
            <result column="area" property="area"></result>
        </collection>
    </resultMap>

    <select id="getAllCity" resultType="cn.jd.entity.City">
        select * from cities
    </select>

    <select id="getAllCityAndPro" resultMap="cityAndPro">
        select * from cities
    </select>

    <select id="getCityByCid" resultType="cn.jd.entity.City" parameterType="int">
        select * from cities where cityid=#{id}
    </select>

    <select id="getCityAndAreaByCityId" resultMap="cityAndArea" parameterType="int">
        select t1.id as c_id,t2.id as a_id,t1.cityid as cityid,city,provinceid,areaid,area from cities t1 left join areas t2 on t1.cityid=t2.cityid where t1.id=#{id}
    </select>

    <select id="getCityByProvinceId" parameterType="int" resultType="cn.jd.entity.City">
         select * from cities where provinceid =#{provinceId}
    </select>


</mapper>