<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="province">

    <!--查询省及该省所有城市信息   一对多-->
    <resultMap id="ProAndCity" type="cn.jd.entity.Province">
        <id column="p_id" property="id"></id>
        <result column="provinceid" property="provinceId"></result>
        <result column="province" property="province"></result>
        <collection property="cities" ofType="cn.jd.entity.City">
            <id column="c_id" property="id"></id>
            <result column="city" property="city"></result>
            <result column="cityid" property="cityId"></result>
        </collection>
    </resultMap>

    <!--省  市  区   -->
    <resultMap id="ProAndCityAndArea" type="cn.jd.entity.Province">
        <id column="p_id" property="id"></id>
        <result column="provinceid" property="provinceId"></result>
        <result column="province" property="province"></result>
        <collection property="cities" ofType="cn.jd.entity.City">
            <id column="c_id" property="id"></id>
            <result column="city" property="city"></result>
            <result column="cityid" property="cityId"></result>
            <collection property="areas" ofType="cn.jd.entity.Area">
                <id column="a_id" property="id"></id>
                <result column="areaid" property="areaId"></result>
                <result column="area" property="area"></result>
            </collection>
        </collection>
    </resultMap>

    <select id="getAllProAndCityAndArea" resultMap="ProAndCityAndArea">
        select t1.id as p_id,t1.provinceid as provinceid,province,
        t2.id as c_id,t2.cityid as cityid,city,
        t3.id as a_id,areaid,area
      from provinces t1
      left join cities t2 on t1.provinceid=t2.provinceid
      left join areas t3 on t2.cityid=t3.cityid
    </select>

    <select id="getAllProvince" resultType="cn.jd.entity.Province">
        select * from provinces
    </select>

    <select id="getAllProAndCity" resultMap="ProAndCity">
        select t1.id as p_id,t2.id as c_id,t1.provinceid as provinceid,province,cityid,city from provinces t1 left join cities t2 on t1.provinceid=t2.provinceid
    </select>

    <select id="getProAndCityByProId" resultMap="ProAndCity">
        select t1.id as p_id,t2.id as c_id,t1.provinceid as provinceid,province,cityid,city from provinces t1 left join cities t2 on t1.provinceid=t2.provinceid where t1.id=#{id}
    </select>


    <select id="getProById" resultType="cn.jd.entity.Province">
        select * from provinces where id=#{id}
    </select>

    <select id="getProByPid" resultType="cn.jd.entity.Province" parameterType="int">
         select * from provinces where provinceId=#{pid}
    </select>
</mapper>